/* footer.module.css */
.footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    flex-shrink: 0;
    

    
  }
  
  .footer a {
    color: white; /* Hvit lenkefarge */
    text-decoration: none; /* Fjerner understreking fra lenker */
    margin: 0 10px; /* Margin rundt lenkene */
  }
  
  .footer a:hover {
    color: #04c; /* Fargeendring ved hover */
  }
  
  
 