/* components/nav-bar.module.css */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #323232;
    color: #fff;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navList {
    list-style: none;
    display: flex;
  }
  
  .navItem {
    padding: 0 1rem;
  }
  
  .navItem a:hover {
    color: #04c;
  }
  
   