/* components/nav-bar.module.css */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-family: "Mukta";
    padding: 10px 0;
  }
  
  .logo {
    color: #000000;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    

  }
  .resKnapp {
    color: #000000;
    font-weight: bold;
    padding: 10px;
    margin: auto;
  }
  
  .navList {
    list-style: none;
    display: flex;
  }
  
  .navItem {
    padding: 0 1rem;
  }
  
  .navItem a:hover {
    color: #04c;
  }
  
  .container {
    width: 100%;
    max-width: 80%;
    line-height: 1.5;
  }
   
  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  
 