.bookingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    
}

.formWrapper {
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .formButton{
    padding: 10px 20px;
    background-color: #8fc1e3;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    max-width: 100%;
    justify-content: center;
    border: 1px solid #000000;
}
.formButton:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.bookingItem {
    padding: 2px;
}