/* footer.module.css */

.container {
  width: 100%;
  line-height: 1.5;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  
 
  
 
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #f8f9fb;
  border-radius: 10px;

  

}
.footer { 
  font-family: "Mukta";
  background-color:#f8f9fb;
  
 
}
.footer-col{
  display: flex;
  flex-direction: column;
}
.footer-col ul li {
  font-family: "Mukta";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  transition: all 0.1s ease;
}
.footer-col ul li:hover {
  color: #687864;
}
.footer-col h4{
text-align: center;
  margin-bottom: 20px;
  position: relative;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 0, 0);
  text-underline-offset: 10px ;
  text-decoration-thickness: 3px;
}
.footer-col .social-links a{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #f8f9fb;
  transition: all 0.1s ease;
}
.footer-col .social-links a:hover{
  
  color: rgb(255, 255, 255);
  background-color: #f8f9fb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.397);
}

.FooterIconfac{
  height: 30px;
  padding: 5px;
}
.FooterIconin{
  height: 30px;
  padding: 5px;
}
.FooterIcontw{
  height: 30px;
  padding: 5px;
}

.LanguageSwitcher {
  display: flex;
  justify-content: center;
}

.flags {
display: flex;
flex-direction: row;
justify-content: center;
padding: 10px;
}

.flag1 {
width: 10%;
}

.flag2 {
  width: 10%;
}

.flag3{
  width: 10%;
}

.madeBy {
  width: 600px;
}