/* components/nav-bar.module.css */
.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  font-family: "Mukta";
  padding: 10px 0;
  background-color: #e4e4e4;
}

.logo {
  color: #000000;
  margin: auto;
  border-radius: 5px;
  max-width: 200px;
  padding-left: 10px;
  
}

.logoImg {
  width: 100%;
}

.profileIcon {
  width: 35px;
}

.resKnapp {
  color: #000000;
  padding: 10px;
  margin: auto;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.resKnapp a:hover {
  color: #687864;
}

.navList {
  list-style: none;
  display: flex;
}

.navItem {
  padding: 0 1rem;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.navItem a:hover {
  color: #687864;
}

.container {
  width: 100%;
  line-height: 1.5;
  background-color: #e4e4e4;
  
}
 
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.logoImg {
  border-radius: 5px;
}

.navMySite {
  display: flex;
  width: 200px;
  justify-content: right;
  
}




