/* backgrounduploader.module.css */

/* Container Styles */
.container {
  max-width: 100%;
  margin: 0 auto;
  align-content: center;
  text-align: center;
  height: fit-content;
}

/* Heading Styles */
.h1 {
  font-size: 1.5rem;
  width: 100%;
  height: 800px;
  align-items: center;
}

/* File Input Styles */
.file {
  display: none; /* Hide the default file input */
}

.fileLabel {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Upload Button Styles */
.uploadButtonContainer {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

/* Blob Styles */
.blobContainer {
  margin-top: 20px;
}

.blobUrl {
  font-size: 1rem;
  color: #333;
}

.blobLink {
  color: #3498db;
  text-decoration: none;
}
