
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color:#e4e4e4;
}


main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}


section {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  
}
.sectionRow {
  display: flex;
  width: 100%;
  
}

a {
  color: inherit; 
  text-decoration: none; 
}

 



@media screen and (max-width: 767px) {
  /* Adjust styles for screens up to 767px wide (e.g., smartphones) */
  main {
    padding: 0 10px; 
  }

}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Adjust styles for screens between 768px and 1023px wide (e.g., tablets) */
  main {
    max-width: 90%; 
    margin: 0 auto; 
  }
}


@media screen and (min-width: 1024px) {
  /* Adjust styles for screens wider than 1023px (e.g., desktops) */
  main {
 
    margin: 0 /* Center the content horizontally */
  }
  
}
