/* page.module.css */

.categorySection {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    color: black;
}

.h1 {
    color: black;
}

.files {
    margin-bottom: 5px;
    color: black;
}

.container {
    display: flex;
    max-width: 100%;
    justify-content:center;
  }

.homeButton {
    
    background-color: #f80606;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* Add more styles as needed */
